{
  "tabWidth": 2,
  "proseWrap": "always",
  "printWidth": 120,
  "useTabs": false,
  "quoteProps": "consistent",
  "overrides": [
    {
      "files": "LICENSE.md",
      "options": {
        "printWidth": 80
      }
    }
  ]
}
