.score {
  stroke-width: 0.1;
  stroke: none;
  fill: none;
}

.arc {
  stroke-linecap: round;
  fill: #555555;
}

.bar-line {
  stroke: #000000;
}

.beam {
  fill: #333333;
}

.bend {
  fill: #555555;
  stroke: #555555;
  stroke-width: 0.1;
  text-align: center;
  alignment-baseline: hanging;
}

.chord-diagram {
  color: #000000;
}

.decorated-text {
  color: #000000;
}

.dot {
  fill: #000000;
}

.line {
  stroke-width: 0.1;
}

.note {
  color: #000000;
}

.page {
  background-color: #ffffff;
  box-shadow: 0 0 12mm rgb(0, 0, 0, 0.25);
}

.rest {
  fill: #333333;
}

.slide {
  stroke: #555555;
  stroke-width: 0.15; /* 1.5 * default */
}

.stroke {
  fill: #000000;
  stroke: #000000;
  stroke-width: 0.1;
}

.text {
  color: #000000;
}

.time-signature {
  fill: #000000;
}

.vibrato {
  fill: #555555;
  stroke: #555555;
  stroke-width: 0.1;
}
